.appBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2a363b;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  /* max-width: 960px; */
  width: fit-content;
  background-color: #fafafa;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.title {
  color: #1976d2;
  /* margin-left: 0 0 0 100px; */
  margin: 0 0 0 100px;
  font-weight: 700;
}

.anime-appear {
  opacity: 0;
  transform: scale(0.1);
}

.anime-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: transform 300ms linear;
}

.nav {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}

.navLink {
  text-decoration: none;
  margin-right: 15px;
  color: #000;
}
.navLinkRegisterPage {
  margin-left: 15px;
  color: #000;
}

.navLinkActive {
  text-decoration: none;
  margin-right: 15px;

  color: blue;
  font: inherit;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.3;
}
